<section class="bg-slate-200 p-10">
    <div class="w-full">
        <h2>Get The FreshCart App</h2>
        <p class="font-light text-sm my-3">We will send you a link, open it on your phone to download the app.</p>
        <div class="w-full flex justify-center items-center mx-auto">
            <input type="email"
                class="bg-white px-2.5 pb-2.5 pt-4 w-[80%] text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer"
                placeholder="Email" />
            <div class="text-center">
                <button class="bg-green-600 text-white m-2 py-3 px-4 rounded-lg">Share App Link</button>
            </div>
        </div>

        <div class="w-[80%] flex justify-between items-center mx-auto">
            <div class="flex flex-nowrap">
                <p class=" mt-7 ">Payment Partners</p>
                <div class="w-full mt-5">
                    <img class="w-[10%]" src="../../../../Assets/images/amazon-pay.png" alt="image1">
                    <img class="w-[10%]" src="../../../../Assets/images/American-Express-Color.png" alt="image2">
                    <img class="w-[10%]" src="../../../../Assets/images/paypal.png" alt="image3">
                </div>
            </div>

            <div class="flex flex-nowrap">
                <p class=" mt-3 ">Get deliveries with FreshCart</p>
                <div class="w-full mt-7">
                    <img class="w-[100%]" src="../../../../Assets/images/get-apple-store.png" alt="image1">
                    <img class="w-[100%]" src="../../../../Assets/images/get-google-play.png" alt="image2">
                </div>

            </div>
        </div>
    </div>
</section>